:root {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --bg-black-600: #302e4d;
    --bg-black-700: #504e70;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: "Kanit", sans-serif;
    background-color: var(--bg-black-900);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
    input,
    textarea,
    button,
    select,
    a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     }
    
    a:focus,
    a:visited,
    a:active{
    outline: none;
    }

::before,
::after {
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: var(--bg-black-900);
}

.width30 {
    width: 20%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 2px solid gray;
    background: var(--bg-black-100);
    display: flex;
    z-index: 30;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.width70 {
    width: 80%;
    height: 100%;
    background: var(--bg-black-900);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    right: 0;
    top: 0;
}
#navbar{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: space-between;
}
#logomobile{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
#logomobile a{
    color: white;
    font-size: 28px;
}
.navbtn a{ 
    margin-right: 20px;
    color: white;
}
.navbtn a:hover{
    color: var(--skin-color);
}
.navbtn a:active{
    color: var(--skin-color);
}
#logomobile span{
    color: var(--skin-color);
    font-size: 30px;
}
.navbtn{
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
    font-size: 18px;
}
#active1{
    color: var(--skin-color);
}
#menubtn{
    display: none;
    position: absolute;
    top: 20px;
    left: 15px;
    background-color: var(--bg-black-100);
    color: var(--skin-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 1px 1px 3px rgb(16, 16, 16);
    z-index: 20;
}
#opacity{
    width: 100%;
    height: 100%;
   }
.logo {
    font-size: 30px;
    position: absolute;
    padding: 5px 20px;
    top: 50px;
    letter-spacing: 5px;
}

.logo::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.logo::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
    transition: 0.5s;
}

.logo:hover::before {
    margin: -5px;
}

.logo:hover::after {
    margin: -5px;
}

.logo a {
    color: white;
    font-weight: bold;
}

.logo span {
    color: var(--skin-color);
    font-family: "Kdam Thmor Pro", sans-serif;
}

.aside {
    width: 150px;
}

ul {
    list-style: none;
    transition: 0.5s;
}

ul li {
    margin-top: 20px;
    padding: 7px;
    border-bottom: 1px solid gray;
    letter-spacing: 2px;
    transition: 0.5s;
}

.active {
    margin-left: 30px;
}

ul li a {
    color: white;  
    transition: 0.5s;
}
ul li a:hover {
   margin-left: 30px; 
}

ul li a i {
    width: 35px;
    color: var(--skin-color);
}

.information {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-bottom: 50px;
}
.width70 img{
    width: 60%;
    height: auto;
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px;
    margin-top: 20px;
    position: relative;
    top: 200px;
}
.heading {
    font-size: 40px;
    position: absolute;
    left: 0;
    top: 50px;
    padding-left: 35px;
    color: white;
}

.heading::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
    margin-left: 40px;
    transition: 0.5s;
    animation-name: line;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes line{
    0%{
        width: 50px;
    }
    50%{
        width: 80px;
    }
    100%{
        width: 50px;
    }
}

.heading::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    bottom: 10;
    left: 0;
    margin-left: 40px;
    margin-top: 50px;
    transition: 0.5s;
    animation-name: animationline ;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes animationline{
    0%{
        width: 20px;
    }
    50%{
        width: 50px;
    }
    100%{
        width: 20px;
    }
}

.heading:hover::after {
    width: 50px;
}

.heading:hover::before {
    width: 80px;

}
footer{
    width: 100%;
    height: 63px;
    background-color: var(--bg-black-900);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 2px solid gray;
    font-size: 18px;
    position: relative;
    top: 220px;
  }
  footer div{
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 16px;
  }
  footer a{
    font-size: 25px;
    color: white;
    letter-spacing: 2px;
  }
  footer span{
    color: var(--skin-color);
  }
@media only screen and (max-width: 1100px) and (min-width: 0px) {
    .width30 {
        width: 270px;
        height: 100%;
        position: fixed;
        top: 0;
        left: -270px;
    }
    #navbar{
        display: flex;
    }
    #menubtn{
        display: none;
    }
    .width70{
        width: 100%;
        height: 100%;
        display: flex;
        background: var(--bg-black-900);    
    }
    .heading {
        position: absolute;
        top: 100px;
    }
}
@media only screen and (max-width: 700px) and (min-width: 0px) {

    .heading {
        font-size: 35px;
    }
    .heading::after {
        margin-top: 43px;
    }
    .width70 img{
        width: 80%;
        height: auto;
    }
}
@media only screen and (max-width: 550px) and (min-width: 0px) {
    #navbar{
        display: none;
    }
    #menubtn{
        display: block;
    }
    .heading::after {
        margin-top: 42px;
    }
}
